{% extends 'page.html.twig' %}

{% block contents %}
    <h1></h1>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Pytanie</th>
            <th></th>
        </tr>
        <tr>
            <td>{{ questionDefinition.question }}</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('questionDefinition', {'pollDefinition': pollDefinition.id }) }}" role="button">Powrót</a>
{% endblock %}