{% extends 'page.html.twig' %}

{% block contents %}
    <h1>Witamy na stronie Survey Market</h1>
    <h1></h1>
    <h2>Do czego służy system?</h2>

    <p align="justify">
        Nasz system umożliwia stworzenie dowolnej ankiety on-line i przesłanie oferty przeprowadzenia badania do ankieterów zarejstrowanych w systemie.
        Ankieterzy przeprowadzają badania w terenie używając urządzeń mobilnych zamiast papieru. Zebrane dane są automatycznie zapisywane w bazie danych,
        co pozwala na oszczędność czasu i papieru. Pracodawcy korzystając z systemu nie musisz martwić się o dziesiątki małych rachunków od ankieterów, ponieważ
        otrzymują raz na miesiąc fakturę od nas. Ankieterzy mają pewność, otrzymania zapłaty na czas, gdyż otrzymuja wynagrodzenie od nas.
        System ułatwia życzie zlecającym badania oraz ankieterom, którzy mogą akceptować ofery w zależności od zasobów czasu. Survey Market nie pobiera żadnych
        dodatkowych opłat przócz prowizji od wykonanych ankiet, którą płaci pracodawca.
    </p>

    <h2></h2>
    <h2>Jak to działa?</h2>
    <h4>Pracodawca:</h4>
        <ol>
            <li>Rejestruje się w systemie</li>
            <li>Tworzy definicje ankiet</li>
            <li>Wystawia oferty</li>
            <li>Otrzymuje co miesiąc faktury za przeprowadzone aniety od Survey Market</li>
        </ol>
    <h4>Ankieter:</h4>
        <ol>
            <li>Rejestruje się w systemie</li>
            <li>Przegląda i akceptuje oferty</li>
            <li>Przeprowadza badania</li>
            <li>Otrzymuje zapłatę</li>
        </ol>
    <h2></h2>
    <h4>Co jest potrzebne do skorzystania z systemu?</h4>
    <ol>
        <li>Komputer lub użądzenie mobilne z dostępem do Internetu</li>
        <li>Przeglądarka internetowa</li>
    </ol>

{% endblock %}