{% extends 'page.html.twig' %}

{% block contents %}
    {{ form(form) }}
    {% if id is defined %}
        <a class="btn btn-default" href="{{ path('offer_show', {'id': id}) }}" role="button">Powrót</a>
    {% endif%}
    <a class="btn btn-default" href="{{ path('pollDefinition')}}" role="button">Powrót</a>

{% endblock %}