{% extends 'page.html.twig' %}

{% block contents %}
    <h1></h1>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>ID</th>
            <th>Odpowiedź</th>
            <th>Dodatkowe pole tekstowe</th>
            <th></th>
        </tr>
        <tr>
            <td>{{ optionDefinition.id }}</td>
            <td>{{ optionDefinition.response }}</td>
            <td>
                {% if(optionDefinition.freeText == "True" ) %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('optionDefinition', {'questionDefinition': questionDefinition.id, 'questionDefinitionType' : questionDefinition|questionDefinitionType }) }}" role="button">Powrót</a>
{% endblock %}