{% extends 'page.html.twig' %}


{% block contents %}
    <h1></h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nazwa</th>
                <th></th>
            </tr>
            <tr>
                <td>{{ pollDefinition.name }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('pollDefinition') }}" role="button">Powrót</a>
{% endblock%}